@model ServicoDeEsterelizacao.Models.Esterilizar

@{
    Layout = "Layout";
    ViewData["Title"] = "Edit";
}
<p></p>
<p></p>
<h2>Edit</h2>

<h4>Esterilizar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EsterilizarID" class="control-label"></label>
                <input asp-for="EsterilizarID" class="form-control" />
                <span asp-validation-for="EsterilizarID" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="EquipamentoID" />
            <input type="hidden" asp-for="MaterialcsID" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

