@model ServicoDeEsterelizacao.Models.Materialcs

@{
    Layout = "Layout";
    ViewData["Title"] = "Apagar";
}

<h2>Apagar material existente</h2>

<h3>Tem a certeza que deseja apagar?</h3>
<div>
    <h4>Material</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="MaterialcsId" />
        <a href="#Confirmacao" class="trigger-btn" data-toggle="modal">
            <input type="submit" value="Eliminar" class="btn btn-warning" />
        </a> |
        <a asp-action="Index"><input type="button" value="Voltar atrás" class="btn btn-default" /></a>
    </form>

    <div id="Confirmacao" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">

                <div class="modal-body">
                    <p>Tem a certeza que deseja apagar? </p>
                </div>
                <div class="modal-footer">
                    <form asp-action="Delete">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <input type="hidden" asp-for="MaterialcsId" />
                        <input type="submit" class="btn btn-warning" value="Eliminar" />
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>