@{
    ViewData["Title"] = "Acerca de nós";
}
<h2>@ViewData["Title"]</h2>

<p>Esta aplicação dedica-se exclusivamente para uso dos docentes de esterelização.</p>
<p>O nosso serviço realiza a estelização dos materias do estabelecimento</p>
