@model InfoModel
@{
    ViewData["Title"] = "Login";
}
<h2>@ViewData["Title"]</h2>


<div>
<p><h3>IDUser:</h3></p>
<p><h3>Password:</h3></p>
<p></p>
<p></p>
<a>login (deseja-se que quando se 'cliqua' seja direcionado para a View dos Menus)</a>
</div>