@model ServicoDeEsterelizacao.Models.Posto

@{
    Layout = "Layout";
    ViewData["Title"] = "Delete";
}

<h2>Apagar</h2>

<h3>Tem a certeza que deseja apagar?</h3>
<div>
    <h4>Posto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PostoId" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-default">Voltar atrás</a>
    </form>
</div>
