@model ServicoDeEsterelizacao.Models.Regras

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Tem a certeza que deseja apagar?</h3>
<div>
    <h4>Regras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RegrasID" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index"class="btn btn-default">Voltar atrás</a>
    </form>
</div>
