
@{
    ViewData["Title"] = "AColaborador";
}

<h2>Adicionar olaborador</h2>
<p><h4>Esta opção pode ser ou não colocado na versão final, necessita de ser discutida</h4></p>
<p><h4>Nome:</h4></p>
<p><h4>Função: (Aqui será colocado uma combo box com as funções que desenpanha)</h4></p>
<p><h4>Todo o novo colaborador adicionado é acompanhado por outro colaborador mais velho(anos de serviço) da função que desempenha</h4></p>
