@model InfoModel 
@{
    Layout = "Layout";
    ViewData["Title"] = "AHorario";
}
<h2>Alterar Horário</h2>

<h4>Alterar Horario</h4>
<form asp-action="AHorario" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="ID">Seu ID:</label>
        <input asp-for="ID" class="form-control" placeholder="Introduza o seu ID" />
    </div>
    <div class="form-group">
        <label asp-for="alteracao">Que tipo de alteração pretende fazer?</label>
        <select asp-for="alteracao">
            <option value="a">Pedido de troca</option>
            <option value="b">Declaraação de baixa</option>
        </select>
    </div>
    @*@if (Model.alteracao == (string)a) Isto é prosoposto aparecer dependendo da escolha em cima
    {
        <div class="form-group">
            <label asp-for="ID">Com quem pretende alterar o seu turno?</label>
            <input asp-for="ID" class="form-control" placeholder="Introduza o ID de quem pretende alterar o horário" />
        </div>

    }
    else
    {
        <div class="form-group">
            <label asp-for="justificacao">Qual o motivo de declarar a baixa?</label>
            <input asp-for="justificacao" class="form-control" placeholder="Introduza a razão da sua ausência" />
        </div>
        <div class="form-group">
            <label asp-for="diaI">Data inicial</label>
            <input asp-for="justificacao" class="form-control" placeholder="Introduza a data que vai começar a faltar" />
        </div>
        <div class="form-group">
            <label asp-for="diaI">Data final</label>
            <input asp-for="justificacao" class="form-control" placeholder="Introduza a data que estima que regresse ao serviço" />
        </div>
    }*@
    <button type="submit" class="btn btn-primary" asp-action="Aceito">Pedir Alteração</button>
</form>