
@{
    Layout = "Layout";
    ViewData["Title"] = "GHorario";
}
<h2>Gerar Horário</h2>

<h4>Gerar horário para o mês seguinte.</h4>

<button type="submit" class="btn btn-primary" asp-action="Gerar">Gerar horario</button>