@model PlanoSemanal
@{
    ViewData["Title"] = "Plano Semanal";
}

<h2>Plano Semanal de trabalho</h2>
<select>

    <option value="enfermeiro">Enfermeiro</option>
    <option value="assistenteOperacional">Assistente Operacional</option>
    <option value="auxiliar">Auxiliar</option>

</select>
<button><p>Efetuar Plano Semanal</p></button>
