
@{
    ViewData["Title"] = "VHorario";
}
<h2>Visualizar Horários</h2>
<p></p>
<h2>Que horário pretende visualizar?</h2>
<select>

    <option value="funcao">Enfermeiros</option>
    <option value="funcao">Assistentes Operacionais</option>
    <option value="funcao">Auxiliares</option>

</select>
<button><p>Visualizar</p></button>

<style>
    .tabela1 {
        border: 2px solid;
        border-collapse: collapse;
        padding: 5px;
    }

        .tabela1 th {
            border: 2px solid;
            padding: 5px;
            background: #F0F0F0;
        }

        .tabela1 td {
            border: 2px solid;
            padding: 5px;
        }
</style>
<table class="tabela1">
    <caption>Horário</caption>
    <thead>
        <tr>
            <th>Serviço</th>
            <th>Dia xx/xx</th>
            <th>Dia xx/xx</th>
            <th>Dia xx/xx</th>
            <th>Dia xx/xx</th>
            <th>Dia xx/xx</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Descontaminação</th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th>Inspeção</th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th>Embalagem e esterilização</th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th>Armazens de estéries e entregas</th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th>Têxteis</th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th>Observações:</th>
            <td>&nbsp;</td>

        </tr>

    <tbody>
</table>