
@{
    ViewData["Title"] = "VHorario";
}

<h2>Visualizar Horários</h2>
<p></p>
<h2>Que horário pretende visualizar?</h2>
<p><h4>Isto é um comentário poderamos fazer uma ligação automática a partir da base de dados com o horário. p.e: Sabendo o numero de ID o sistema sabe se é enfermeiro ou assistente operacional Outra opção será criar uma combo box com os respetvos colaboradores.</h4></p>