
@{
    ViewData["Title"] = "VHorario";
}
<h2>Visualizar Horários</h2>
<p></p>
<h2>Que horário pretende visualizar?</h2>
<select>

    <option value="enfermeiro">Enfermeiro</option>
    <option value="assistenteOperacional">Assistente Operacional</option>
    <option value="auxiliar">Auxiliar</option>

</select>