@model ServicoDeEsterelizacao.Models.Tipo

@{
    Layout = "Layout";
    ViewData["Title"] = "Details";
}
<p></p>
<p></p>
<h2>Detalhes</h2>

<div>
    <h4>Tipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TipoID" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-default">Voltar atrás</a>
</div>
