@model ServicoDeEsterelizacao.Models.Horario

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Horario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HorarioID" />
            <div class="form-group">
                <label asp-for="DataInicioManha" class="control-label"></label>
                <input asp-for="DataInicioManha" class="form-control" />
                <span asp-validation-for="DataInicioManha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFimManha" class="control-label"></label>
                <input asp-for="DataFimManha" class="form-control" />
                <span asp-validation-for="DataFimManha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicioTarde" class="control-label"></label>
                <input asp-for="DataInicioTarde" class="form-control" />
                <span asp-validation-for="DataInicioTarde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFimTarde" class="control-label"></label>
                <input asp-for="DataFimTarde" class="form-control" />
                <span asp-validation-for="DataFimTarde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TurnoId" class="control-label"></label>
                <select asp-for="TurnoId" class="form-control" asp-items="ViewBag.TurnoId"></select>
                <span asp-validation-for="TurnoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostoId" class="control-label"></label>
                <select asp-for="PostoId" class="form-control" asp-items="ViewBag.PostoId"></select>
                <span asp-validation-for="PostoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColaboradorId" class="control-label"></label>
                <select asp-for="ColaboradorId" class="form-control" asp-items="ViewBag.ColaboradorId"></select>
                <span asp-validation-for="ColaboradorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

