@model ServicoDeEsterelizacao.Models.Horario

@{
    Layout = "Layout";
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Horario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HorarioID" />
            <div class="form-group">
                <label asp-for="DataInicioTurno" class="control-label"></label>
                <input asp-for="DataInicioTurno" class="form-control" />
                <span asp-validation-for="DataInicioTurno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duracao" class="control-label"></label>
                <input asp-for="Duracao" class="form-control" />
                <span asp-validation-for="Duracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFimTurno" class="control-label"></label>
                <input asp-for="DataFimTurno" class="form-control" />
                <span asp-validation-for="DataFimTurno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TurnoId" class="control-label"></label>
                <select asp-for="TurnoId" class="form-control" asp-items="ViewBag.TurnoId"></select>
                <span asp-validation-for="TurnoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostoId" class="control-label"></label>
                <select asp-for="PostoId" class="form-control" asp-items="ViewBag.PostoId"></select>
                <span asp-validation-for="PostoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColaboradorId" class="control-label"></label>
                <select asp-for="ColaboradorId" class="form-control" asp-items="ViewBag.ColaboradorId"></select>
                <span asp-validation-for="ColaboradorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-default">Voltar atrás</a>
            </div>
        </form>
    </div>
</div>

