@model GerarHorario
@{
    Layout = "Layout";
    ViewData["Title"] = "Gerar Horário Médico";
}


<h2>Gerar Horário</h2>
<p></p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="GerarHorario">
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="NPessoasT1" class="control-label">Colaboradores Turno da manhã</label>
                    <input asp-for="NPessoasT1" class="form-control" />
                    <span asp-validation-for="NPessoasT1" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NPessoasT2" class="control-label">Colaboradores Turno da tarde</label>
                <input asp-for="NPessoasT2" class="form-control" />
                <span asp-validation-for="NPessoasT2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label">Inicio da semana</label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Gerar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-default">Voltar atrás</a>
                <a asp-area="" asp-controller="Regras" asp-action="Index" class="btn btn-info">Vizualizar Regras</a>
            </div>
            <hr />

        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
