@model ServicoDeEsterelizacao.Models.Turno

@{
    ViewData["Title"] = "Apagar";
}

<h2>Apagar turno </h2>

<h3>Tem a certeza que deseja apagar o turno da @Html.DisplayFor(model => model.Nome) ?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome do turno:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            Inicio do turno:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt>
           Fim do turno:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraFim)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="TurnoId" />
        <a href="#Confirmacao" class="trigger-btn" data-toggle="modal">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </a> |
        <a asp-action="Index"><input type="button" value="Voltar atrás" class="btn btn-default" /></a>
    </form>

    <div id="Confirmacao" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">

                <div class="modal-body">
                    <p>Tem a certeza que deseja apagar? </p>
                </div>
                <div class="modal-footer">
                    <form asp-action="Delete">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <input type="hidden" asp-for="TurnoId" />
                        <input type="submit" class="btn btn-danger" value="Eliminar" />
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>