@model ServicoDeEsterelizacao.Models.Turno

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes do turno</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome do turno:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            Inicio do turno:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt>
            Fim do turno:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraFim)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TurnoId" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-default">Voltar</a>
</div>
