@model ServicoDeEsterelizacao.Models.Funcao

@{
    Layout = "Layout";
    ViewData["Title"] = "Apagar";
}
<p></p>
<p></p>
<h2>Apagar</h2>

<h3>Apagar Função?</h3>
<div>
    <h4>Funcao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="FuncaoID" />
        <a href="#Confirmacao" class="trigger-btn" data-toggle="modal">
            <input type="submit" value="Eliminar" class="btn btn-warning" />
        </a> |
        <a asp-action="Index"><input type="button" value="Voltar atrás" class="btn btn-default" /></a>
    </form>

    <div id="Confirmacao" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">

                <div class="modal-body">
                    <p>Tem a certeza que deseja apagar? </p>
                </div>
                <div class="modal-footer">
                    <form asp-action="Delete">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <input type="hidden" asp-for="FuncaoID" />
                        <input type="submit" class="btn btn-warning" value="Eliminar" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
